{% extends 'base.html' %}

{% load static %}
{% block title %} Cruise {% endblock %}
{% block meta_description %}

{% endblock %}


{% block content %}

    <!-- breadcrumb start-->
    <section class="breadcrumb_part breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Cruise Employment Medicals</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!-- Start Sample Area -->
    <section class="sample-text-area">
        <div class="container box_1170">
            <h3 class="text-heading">Cruise Medicals</h3>
            <p class="sample-text">
        We are a provider of employment medical services for Royal Caribbean in Ireland. New employees requiring medical evaluations can book their exams with us. You should allow one and a half hours for the comprehensive medical. to make an appointment and for further guidance related to your exam.

        What to bring to your medical exam appointment:

<br><br>

        <ul class="unordered-list text-secondary">
            <li>Your passport or other photo ID.</li>
            <li>Your glasses or contact lenses.</li>
            <li>Copies of any significant hospital letters, abnormal smear results etc.</li>
            <li>Contact us for an appointment.</li>
        </ul>

<br><br>

        <h3>The medical exam will include the following:</h3>
<br><br>

        <ul class="unordered-list text-secondary">
            <li>Full Blood Count</li>
            <li>Hepatitis B Antigen</li>
            <li>Liver Function Tests</li>
            <li>HIV Test</li>
            <li>Urea and Electrolytes</li>
            <li>Liver Function Tests</li>
            <li>Lipid Profile</li>


            <li>Blood Glucose</li>
            <li>Hepatitis A</li>
            <li>Hepatitis C</li>
            <li>STD Screening</li>
            <li>Urine Drug Screen</li>
            <li>Hearing Test</li>
            <li>(Pregnancy test if needed)</li>
        </ul>


            </p>
        </div>
    </section>
    <!-- End Sample Area -->


{% endblock %}


