{% extends 'base.html' %}

{% load static %}
{% block title %} Occupational {% endblock %}
{% block meta_description %}

{% endblock %}


{% block content %}

    <!-- breadcrumb start-->
    <section class="breadcrumb_part breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Oil and Gas UK</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!-- Start Sample Area -->
    <section class="sample-text-area">
        <div class="container box_1170">
            <h3 class="text-heading"></h3>
            <p class="sample-text">

<br><br>
            For more information, contact us by calling or by booking an appointment
<br><br>

            Tel: 01.677.9112 
<br><br>

            Dr.Shirley Wong
<br><br>

            MBBCH, BAO, MRCPCH, LFOM, MFOM <br> 
            MCRN:17412 
            </p>
        </div>
    </section>
    <!-- End Sample Area -->

    <!-- Start Button -->


{% endblock %}


