{% extends 'base.html' %}

{% load static %}
{% block title %} General Practice {% endblock %}
{% block meta_description %}

{% endblock %}


{% block content %}

    <!-- breadcrumb start-->
    <section class="breadcrumb_part breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>General Practice</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!-- Start Sample Area -->
<!--     <section class="sample-text-area">
        <div class="container box_1170">
            <h3 class="text-heading">Committed to Excellence</h3>
            <p class="sample-text">
            Parliament Street Medical practice is located in the heart of Temple Bar, Dublin 2, and operates on both a walk-in and appointment basis. We offer all comprehensive General Practice healthcare treatment and all necessary referrels to specialist care if required.

            With over ten years experience, the practice was opened in 2011 with a view to providing comprehensive health services that deliver excellence in medical care to both patients, and employer based services.

            <br><br>

            Tel: 01.677.9112 
<br>
            Dr.Shirley Wong
<br>
            MCRN:17412
            M.B.B.CH, B.O.A, MRCPCH, LFOM   
            </p>
        </div>
    </section> -->
    <!-- End Sample Area -->

    <!-- Start Align Area -->
    <div class="whole-wrap">
        <div class="container box_1170">
            <div class="section-top-border">
                <h3 class="mb-30">Health Screening for Better Fitness</h3>
                <h4 class="mb-30">Caring for Your Health!</h4>

                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'website/img/betterHealth.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <p>Caring for your health is a matter of preventative care. Waiting for something to go wrong before you visit your doctor is not the best way to manage your health. It is not the best way to save either as medications and time off may be far more costly than the expense of a doctors visit. Keeping healthy by having a regular check- up is a much better way to care for your health. Be proactive and arrange to have a thorough health screening.

                        Don't wait for better health call now to book your exam. Be proactive and live better!</p>

                        <br><br>

                        <h5 class='mb-30'>Available Services</h5>
                        <div class = 'float-left'>

                            <ul class="list-group list-group-flush">
                              <li class="list-group-item-light">Heath Screening</li>
                              <li class="list-group-item-light">Annual Medical Check</li>
                              <li class="list-group-item-light">Full Physical Exam</li>
                              <li class="list-group-item-light">Blood Tests</li>
                              <li class="list-group-item-light">ECG</li>
                              <li class="list-group-item-light">Full STD Screening</li>
                              <li class="list-group-item-light">Vaccinsations</li>

                            </ul>
                        </div>                        

                        <div class = 'float-right'>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item-light">Lung Function Tests</li>
                              <li class="list-group-item-light">Nebulization</li>
                              <li class="list-group-item-light">Vision Test</li>
                              <li class="list-group-item-light">Hearing Test</li>
                              <li class="list-group-item-light">Driving License Health Exam</li>
                              <li class="list-group-item-light">All related GP services</li>

                            </ul>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="section-top-border text-right">
                <h4 class="mb-30">Affected by Seasonal Allergies?</h4>
                <div class="row">
                    <div class="col-md-9">
                        <p class="text-right">If you find the change of seasons difficult to cope with and are not sure what the cause may be, you may need an allergy screening and medication. Visit us for a consultation regarding any allergies you may be experiencing this season</p>
                        <p class="text-right">Before we discuss all of the things that could be affecting your PC’s
                            performance, let’s
                            talk a little about what symptoms</p>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'website/img/allergies.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="section-top-border">

            <div class="section-top-border">
                <h4 class="mb-30">Drivers License Medical Exams</h4>

                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'website/img/driving.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <p>For your convenience we have included the drivers license medical exam forms D-501 (Drivers Medical Exam), and D-502 (Drivers Medical Eye Exam) on the navigation bar above. Call us to book your visit and bring the relevant form with you</p>

                        
                        </div>                        
                    </div>
                </div>
            </div>

 
            </div>


        </div>
    </div>



{% endblock %}


