{% extends 'base.html' %}

{% load static %}
{% block title %} Occupational {% endblock %}
{% block meta_description %}

{% endblock %}


{% block content %}

    <!-- breadcrumb start-->
    <section class="breadcrumb_part breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Occupational Health Assessment</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->
    <!-- Start Sample Area -->
    <section class="sample-text-area">
        <div class="container box_1170">
            <h3 class="text-heading">Monitoring Employee Health</h3>
            <p class="sample-text">
            This is an ideal and economical way for employers to maximise the full potential of a productive work force. Providing a health check will reduce both the number of sick leave absences, and promote better health among all employees. It is also important to be compliant with current regulation, and we can ensure that you are. We can also assess and identify any areas or issues of concern and address them with constructive feedback, advice, and recommendations to employers.
<br><br>
            Contact us regarding our services related to work absence management, Job Site Assessments, Risk assessments, Management of Work Related illness and Injury, or with any concern or questions you may have.

<br><br>

            Tel: 01.677.9112 
<br><br>

            Dr.Shirley Wong
<br><br>

            MBBCH, BAO, MRCPCH, LFOM, MFOM <br> 
            MCRN:17412 
            </p>
        </div>
    </section>
    <!-- End Sample Area -->

    <!-- Start Button -->


{% endblock %}


