{% extends 'base.html' %}

{% load static %}
{% block title %} Womens Health {% endblock %}
{% block meta_description %}

{% endblock %}


{% block content %}

    <!-- breadcrumb start-->
    <section class="breadcrumb_part breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Women's Health</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->


    <!-- Start Align Area -->
    <div class="whole-wrap">
        <div class="container box_1170 ">
            <div class="section-top-border">
                <h3 class="mb-30 text-dark">National Cervical Screening</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'website/img/cervical_check.jpeg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <p class='text-dark'>The National Cervical Screening Program provides free smear tests to women aged 25 to 60. A smear test is a simple procedure that only takes minutes and is the most effective way to detect changes in the cells of the cervix. For more information on Cervical Smears please select the "HSE Scheme" button.
<br><br>
                        To arrange for a Cervical Smear Test with us please contact us with your PPS number and date of birth at

                        Tel: 01.677.9112</p>
                    </div>
                </div>
            </div>
            <div class="section-top-border text-right">
                <h3 class="mb-30">Breast Exam</h3>
                <div class="row">
                    <div class="col-md-9">
                        <p class="text-right text-dark">Breast self exams should be part of a regular monthly routine for all women. Regular examinations help you to know what is normal for you and makes it easier to pick up on any changes quickly. Early detection is crucial for effective early treatment. If you are over 40 or in a high risk category it is advisable to have a yearly breast exam by your doctor.</p>

                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'website/img/breast_cancer.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="section-top-border">
                <h3 class="mb-30">Childhood Vaccinations</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'website/img/baby1.jpeg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <p class='text-dark'>Immunisation is a simple safe and effective way of protecting your child against certain diseases. The risks from having these diseases are far greater than the risk of any minor side effects from immunisation.

                        We provide immunizations for your baby as recommended by the HSE at the following intervals:

                            <ul class="unordered-list text-secondary">
                                <li>2 Months</li>
                                <li>4 Months</li>
                                <li>6 Months</li>
                                <li>12 Months</li>
                                <li>13 Months</li>
                            </ul>
                        Please contact our office if you have any questions regarding the vaccinations or if you would like to schedule an appointment.

                        For child immunisation information from the HSE page select the button below:

                        HSE Guide »
                    </p>
                    </div>
                </div>
            </div>



        </div>
    </div>


        <!-- Start Button -->


{% endblock %}


